workflows/W11_ADMIN_DELIVERY_ZONES.json
{
  "name": "W11 - ADMIN Delivery Zones (CRUD)",
  "active": false,
  "settings": {
    "executionTimeout": 60,
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "v1/admin/delivery/zones",
        "responseMode": "responseNode"
      },
      "id": "b0d8b3d4-70b6-4e13-bf48-5b3b94f98112",
      "name": "IN - Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1200,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/admin/delivery/zones",
        "responseMode": "responseNode"
      },
      "id": "b0d8b3d4-70b6-4e13-bf48-5b3b94f98112",
      "name": "IN - Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1200,
        0
      ]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "const crypto = require('crypto');\n\nconst headers = ($json.headers ?? {});\nconst auth = (headers['authorization'] || headers['Authorization'] || '').toString();\nconst bearer = auth.toLowerCase().startsWith('bearer ') ? auth.slice(7).trim() : '';\nconst headerToken = (headers['x-api-token'] || headers['X-Api-Token'] || headers['x-webhook-token'] || headers['X-Webhook-Token'] || '').toString().trim();\n\nconst token = (headerToken || bearer || '').toString().trim();\nconst tokenHash = token ? crypto.createHash('sha256').update(token).digest('hex') : '';\n\nconst ipRaw = (headers['x-forwarded-for'] || headers['X-Forwarded-For'] || '').toString();\nconst ip = ipRaw.split(',')[0].trim();\n\nreturn [{\n  json: {\n    channel: 'admin',\n    userId: 'admin',\n    metadata: { ip, userAgent: (headers['user-agent'] || headers['User-Agent'] || '').toString() },\n    _auth: { tokenPresent: !!token, tokenHash }\n  }\n}];\n"
      },
      "id": "a6c646d3-1d80-4f60-9d0e-5d7f3a7c64cb",
      "name": "B0 - Parse Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -980,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH c AS (  SELECT client_id, client_name, tenant_id, restaurant_id, scopes  FROM api_clients  WHERE is_active=true AND token_hash = $1  LIMIT 1) SELECT   (SELECT client_id FROM c) AS client_id,   (SELECT client_name FROM c) AS client_name,   (SELECT tenant_id FROM c) AS tenant_id,   (SELECT restaurant_id FROM c) AS restaurant_id,   COALESCE((SELECT scopes FROM c), '[]'::jsonb) AS scopes,   EXISTS(SELECT 1 FROM c) AS matched;",
        "additionalFields": {
          "queryParams": "={{[$json._auth.tokenHash]}}"
        }
      },
      "id": "9c5e6f51-7a30-4d9c-bd3a-9d2b1a21f62c",
      "name": "B0 - Resolve Client (DB)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -740,
        0
      ]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "const e = $items(\"B0 - Parse Auth\")[0].json;\nconst r = $json;\n\nconst matched = !!r.matched;\nlet tenantId = '';\nlet restaurantId = '';\nlet authMode = 'deny';\nlet scopes = [];\n\nif (matched && r.tenant_id && r.restaurant_id) {\n  tenantId = r.tenant_id.toString();\n  restaurantId = r.restaurant_id.toString();\n  authMode = 'api_client';\n  try { scopes = Array.isArray(r.scopes) ? r.scopes : (typeof r.scopes === 'string' ? JSON.parse(r.scopes) : (r.scopes?.scopes || [])); } catch { scopes = []; }\n}\n\nconst authOk = authMode !== 'deny';\n\nconst requiredScopes = ['admin:write'];\nfunction hasScope(required, granted) {\n  if (!required) return true;\n  const g = new Set((granted || []).map(s => String(s || '').trim()).filter(Boolean));\n  if (g.has(required)) return true;\n  if (g.has('*')) return true;\n  const parts = String(required).split(':');\n  if (parts.length === 2 && g.has(`${parts[0]}:*`)) return true;\n  return false;\n}\n\nconst scopeOk = authOk && (requiredScopes.length === 0 || requiredScopes.some(rq => hasScope(rq, scopes)));\n\nconst endpoint_group = 'admin';\nconst endpoint_path = '/v1/admin/delivery/zones';\n\nconst denyReason = authOk ? (scopeOk ? '' : 'SCOPE_DENY') : 'AUTH_DENY';\n\nreturn [{\n  json: {\n    ...e,\n    tenantId,\n    restaurantId,\n    _auth: {\n      ...e._auth,\n      authOk,\n      scopeOk,\n      authMode,\n      scopes,\n      requiredScopes,\n      endpoint_group,\n      endpoint_path,\n      denyReason,\n      clientId: matched ? (r.client_id || null) : null,\n      clientName: matched ? (r.client_name || null) : null\n    }\n  }\n}];\n"
      },
      "id": "f4f63b2e-2d54-4b85-9c74-f9a37c1f67c1",
      "name": "B0 - Apply Auth Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json._auth.authOk}}",
              "operation": "isTrue"
            },
            {
              "value1": "={{$json._auth.scopeOk}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "c7b8a6b1-0d14-4a0c-9f5a-6a4c8a7e4090",
      "name": "B0 - Access OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO security_events(tenant_id, restaurant_id, conversation_key, channel, user_id, event_type, severity, payload_json) VALUES ($1,$2,$3,$4,$5,$6,'HIGH', jsonb_build_object('token_hash',$7,'ip',$8,'ua',$9,'auth_mode',$10,'required_scopes',$11::jsonb,'scopes',$12::jsonb,'endpoint_group',$13,'endpoint_path',$14)) RETURNING 1;",
        "additionalFields": {
          "queryParams": "={{[$json.tenantId||null, $json.restaurantId||null, null, $json.channel, $json.userId, ($json._auth.denyReason || 'AUTH_DENY'), $json._auth.tokenHash, $json.metadata.ip, $json.metadata.userAgent, $json._auth.authMode, JSON.stringify($json._auth.requiredScopes || []), JSON.stringify($json._auth.scopes || []), $json._auth.endpoint_group, $json._auth.endpoint_path]}}"
        }
      },
      "id": "f0cf1b91-7a49-4f2c-9c92-c8d7a1f7d5fe",
      "name": "B0 - Log Deny (DB)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -40,
        120
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO admin_audit_log(tenant_id, restaurant_id, actor_client_id, actor_name, action, object_type, object_id, ip, user_agent, payload_json) VALUES ($1,$2,$3,$4,'ADMIN_PING',NULL,NULL,$5,$6,jsonb_build_object('scopes',$7::jsonb)) RETURNING id;",
        "additionalFields": {
          "queryParams": "={{[$json.tenantId||null, $json.restaurantId||null, $json._auth.clientId||null, $json._auth.clientName||null, $json.metadata.ip, $json.metadata.userAgent, JSON.stringify($json._auth.scopes || [])]}}"
        }
      },
      "id": "2c93f9b4-8e3b-4e4b-bb73-3f3c6888b1d1",
      "name": "B0 - Log Allow (Audit)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -40,
        -120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "resp_ok",
      "name": "RESP - 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [
        1420,
        200
      ]
    },
    {
      "parameters": {
        "responseCode": 403,
        "responseData": "={{ { ok: false, error: ($json._auth.denyReason || 'AUTH_DENY'), message: 'Forbidden' } }}"
      },
      "id": "9bb0cf7b-1f6d-4af1-8b0b-8f2d2d0b8d91",
      "name": "RESP - 403 Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        220,
        120
      ]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "const e = $json;\nreturn [{json:{...e,_request:{method:'GET'}}}];"
      },
      "id": "marker_GET",
      "name": "A0 - Mark GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        0
      ]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "const e = $json;\nreturn [{json:{...e,_request:{method:'POST'}}}];"
      },
      "id": "marker_POST",
      "name": "A0 - Mark POST",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        200
      ]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "const e = $json;\nconst method = (e._request?.method || '').toUpperCase();\nconst body = e.body || e.rawBody || e.data || {};\nconst q = e.query || {};\n\nif (method === 'GET') {\n  return [{json:{...e, _op:'LIST'}}];\n}\n\n// POST: upsert or delete\nconst action = (body.action || q.action || 'UPSERT').toString().toUpperCase();\nif (action === 'DELETE') {\n  return [{json:{...e, _op:'DELETE', zone_id: body.zone_id || q.zone_id || null}}];\n}\n\n// default UPSERT\nreturn [{json:{\n  ...e,\n  _op:'UPSERT',\n  zone: {\n    wilaya: body.wilaya,\n    commune: body.commune,\n    fee_base_cents: body.fee_base_cents,\n    min_order_cents: body.min_order_cents,\n    eta_min: body.eta_min,\n    eta_max: body.eta_max,\n    is_active: body.is_active\n  }\n}}];"
      },
      "id": "router_admin_zones",
      "name": "Z1 - Route Operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json._op}}",
              "operation": "equal",
              "value2": "LIST"
            }
          ]
        }
      },
      "id": "if_list",
      "name": "Z2 - Is LIST?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        980,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json._op}}",
              "operation": "equal",
              "value2": "DELETE"
            }
          ]
        }
      },
      "id": "if_del",
      "name": "Z3 - Is DELETE?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        980,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT zone_id, wilaya, commune, fee_base_cents, min_order_cents, eta_min, eta_max, is_active, created_at, updated_at\nFROM public.delivery_zones\nWHERE restaurant_id = $1\nORDER BY lower(wilaya), lower(commune);",
        "additionalFields": {
          "queryParams": "={{[$json.restaurantId]}}"
        }
      },
      "id": "db_list_zones",
      "name": "Z4 - List Zones (DB)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1200,
        60
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.delivery_zones\nWHERE restaurant_id = $1 AND zone_id = $2\nRETURNING zone_id;",
        "additionalFields": {
          "queryParams": "={{[$json.restaurantId, $json.zone_id]}}"
        }
      },
      "id": "db_del_zones",
      "name": "Z5 - Delete Zone (DB)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inp AS (\n  SELECT\n    $1::uuid AS restaurant_id,\n    NULLIF(trim($2::text),'') AS wilaya,\n    NULLIF(trim($3::text),'') AS commune,\n    GREATEST(COALESCE($4::int,0),0) AS fee_base_cents,\n    GREATEST(COALESCE($5::int,0),0) AS min_order_cents,\n    GREATEST(COALESCE($6::int,0),0) AS eta_min,\n    GREATEST(COALESCE($7::int,0),0) AS eta_max,\n    COALESCE($8::boolean,true) AS is_active\n), u AS (\n  UPDATE public.delivery_zones z\n  SET fee_base_cents=inp.fee_base_cents,\n      min_order_cents=inp.min_order_cents,\n      eta_min=inp.eta_min,\n      eta_max=GREATEST(inp.eta_max, inp.eta_min),\n      is_active=inp.is_active,\n      updated_at=now()\n  FROM inp\n  WHERE z.restaurant_id=inp.restaurant_id\n    AND lower(z.wilaya)=lower(inp.wilaya)\n    AND lower(z.commune)=lower(inp.commune)\n  RETURNING z.zone_id\n), i AS (\n  INSERT INTO public.delivery_zones(restaurant_id,wilaya,commune,fee_base_cents,min_order_cents,eta_min,eta_max,is_active)\n  SELECT inp.restaurant_id, inp.wilaya, inp.commune, inp.fee_base_cents, inp.min_order_cents, inp.eta_min, GREATEST(inp.eta_max, inp.eta_min), inp.is_active\n  FROM inp\n  WHERE inp.wilaya IS NOT NULL AND inp.commune IS NOT NULL\n    AND NOT EXISTS (SELECT 1 FROM u)\n  RETURNING zone_id\n)\nSELECT COALESCE((SELECT zone_id FROM u), (SELECT zone_id FROM i)) AS zone_id;",
        "additionalFields": {
          "queryParams": "={{[$json.restaurantId, $json.zone.wilaya, $json.zone.commune, $json.zone.fee_base_cents, $json.zone.min_order_cents, $json.zone.eta_min, $json.zone.eta_max, $json.zone.is_active]}}"
        }
      },
      "id": "db_upsert_zone",
      "name": "Z6 - Upsert Zone (DB)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1200,
        340
      ]
    }
  ],
  "connections": {
    "B0 - Parse Auth": {
      "main": [
        [
          {
            "node": "B0 - Resolve Client (DB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B0 - Resolve Client (DB)": {
      "main": [
        [
          {
            "node": "B0 - Apply Auth Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B0 - Apply Auth Context": {
      "main": [
        [
          {
            "node": "B0 - Access OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B0 - Access OK?": {
      "main": [
        [
          {
            "node": "Z1 - Route Operation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "B0 - Log Deny (DB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B0 - Log Allow (Audit)": {
      "main": [
        [
          {
            "node": "RESP - 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B0 - Log Deny (DB)": {
      "main": [
        [
          {
            "node": "RESP - 403 Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IN - Webhook GET": {
      "main": [
        [
          {
            "node": "A0 - Mark GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A0 - Mark GET": {
      "main": [
        [
          {
            "node": "B0 - Parse Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IN - Webhook POST": {
      "main": [
        [
          {
            "node": "A0 - Mark POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A0 - Mark POST": {
      "main": [
        [
          {
            "node": "B0 - Parse Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z1 - Route Operation": {
      "main": [
        [
          {
            "node": "Z2 - Is LIST?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z2 - Is LIST?": {
      "main": [
        [
          {
            "node": "Z4 - List Zones (DB)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Z3 - Is DELETE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z3 - Is DELETE?": {
      "main": [
        [
          {
            "node": "Z5 - Delete Zone (DB)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Z6 - Upsert Zone (DB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z4 - List Zones (DB)": {
      "main": [
        [
          {
            "node": "RESP - 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z5 - Delete Zone (DB)": {
      "main": [
        [
          {
            "node": "RESP - 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z6 - Upsert Zone (DB)": {
      "main": [
        [
          {
            "node": "RESP - 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "staticData": null,
  "tags": []
}