workflows/W1_IN_TIKTOK.json
{
  "name": "W1_IN_TIKTOK",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tiktok-webhook",
        "options": {}
      },
      "name": "TikTok Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "channel",
              "value": "tiktok"
            },
            {
              "name": "from",
              "value": "={{ $json.body.entry[0].changes[0].value.sender_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.body.entry[0].changes[0].value.message.text }}"
            },
            {
              "name": "campaign_code",
              "value": "={{ $json.query.campaign || $json.body.entry[0].changes[0].value.referral_param }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.CORE_WORKFLOW_ID }}"
      },
      "name": "Execute Router",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    }
  ],
  "connections": {
    "TikTok Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Execute Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}