workflows/W20_ASSET_ENHANCER.json
{
    "name": "W20_ASSET_ENHANCER",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "enhance-asset",
                "options": {}
            },
            "name": "Webhook (Internal)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "collection": "creative_assets",
                "id": "={{ $json.body.asset_id }}"
            },
            "name": "Get Asset",
            "type": "n8n-nodes-base.strapi",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "credentials": {
                "strapiApi": {
                    "id": "STRAPI_CREDENTIAL_ID",
                    "name": "Strapi connection"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "collection": "restaurant-brand",
                "id": "singleton"
            },
            "name": "Get Brand DNA",
            "type": "n8n-nodes-base.strapi",
            "typeVersion": 1,
            "position": [
                250,
                450
            ],
            "credentials": {
                "strapiApi": {
                    "id": "STRAPI_CREDENTIAL_ID",
                    "name": "Strapi connection"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const asset = $input.item(0).json;\nconst brand = $input.item(1).json;\n\nreturn {\n  json: {\n    asset: asset,\n    brand: brand,\n    aesthetic: asset.aesthetic_style || brand.visual_identity.preferred_aesthetic\n  }\n};"
            },
            "name": "Merge Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://api.openai.com/v1/chat/completions",
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "gpt-4-vision-preview"
                        },
                        {
                            "name": "messages",
                            "value": "={{ [\n  {\n    \"role\": \"system\",\n    \"content\": `You are the AI Creative Director for '${$json.brand.restaurant_name}'. \n\nBRAND IDENTITY:\n- Story: ${$json.brand.brand_story}\n- Voice: ${$json.brand.voice_tone}\n- Target: ${$json.brand.target_audience}\n- USPs: ${JSON.stringify($json.brand.unique_selling_points)}\n- Signature Phrases: ${JSON.stringify($json.brand.signature_phrases)}\n\nTASK:\n1. Analyze the food image\n2. Generate a FLUX.1 Pro prompt for style '${$json.aesthetic}' that reflects our brand aesthetic\n3. Write an Instagram/TikTok caption:\n   - Tone: ${$json.brand.voice_tone}\n   - Include 1 signature phrase naturally\n   - 2-3 emojis max\n   - Mention our USP subtly\n   - Avoid: ${JSON.stringify($json.brand.prohibited_terms)}\n\nReturn JSON: { \"prompt\": \"...\", \"caption\": \"...\" }`\n  },\n  {\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"image_url\",\n        \"image_url\": { \"url\": $json.asset.original_media.url }\n      }\n    ]\n  }\n] }}"
                        },
                        {
                            "name": "response_format",
                            "value": "={{ {\"type\": \"json_object\"} }}"
                        }
                    ]
                }
            },
            "name": "AI Vision & Brand Director",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://api.replicate.com/v1/predictions",
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "version",
                            "value": "flux-pro-1.0-ultra"
                        },
                        {
                            "name": "input",
                            "value": "={{ {\"prompt\": $json.choices[0].message.content.prompt, \"aspect_ratio\": \"9:16\", \"safety_tolerance\": 5} }}"
                        }
                    ]
                },
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Token {{ $env.REPLICATE_API_TOKEN }}"
                        }
                    ]
                }
            },
            "name": "Generate (FLUX.1 Pro)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                800,
                300
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "creative_assets",
                "id": "={{ $node[\"Merge Context\"].json.asset.id }}",
                "fields": {
                    "ai_prompt_used": "={{ $node[\"AI Vision & Brand Director\"].json.choices[0].message.content.prompt }}",
                    "generated_caption": "={{ $node[\"AI Vision & Brand Director\"].json.choices[0].message.content.caption }}",
                    "status": "processing"
                }
            },
            "name": "Update Meta Data",
            "type": "n8n-nodes-base.strapi",
            "typeVersion": 1,
            "position": [
                1000,
                300
            ],
            "credentials": {
                "strapiApi": {
                    "id": "STRAPI_CREDENTIAL_ID",
                    "name": "Strapi connection"
                }
            }
        }
    ],
    "connections": {
        "Webhook (Internal)": {
            "main": [
                [
                    {
                        "node": "Get Asset",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get Brand DNA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Asset": {
            "main": [
                [
                    {
                        "node": "Merge Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Brand DNA": {
            "main": [
                [
                    {
                        "node": "Merge Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Context": {
            "main": [
                [
                    {
                        "node": "AI Vision & Brand Director",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Vision & Brand Director": {
            "main": [
                [
                    {
                        "node": "Generate (FLUX.1 Pro)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Update Meta Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}