workflows/W20_ASSET_ENHANCER.json
{
    "name": "W20_ASSET_ENHANCER",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "enhance-asset",
                "options": {}
            },
            "name": "Webhook (Internal)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "collection": "creative_assets",
                "id": "={{ $json.body.asset_id }}"
            },
            "name": "Get Asset",
            "type": "n8n-nodes-base.strapi",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "credentials": {
                "strapiApi": {
                    "id": "STRAPI_CREDENTIAL_ID",
                    "name": "Strapi connection"
                }
            }
        },
        {
            "parameters": {
                "url": "https://api.openai.com/v1/chat/completions",
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "gpt-4-vision-preview"
                        },
                        {
                            "name": "messages",
                            "value": "={{ [{\"role\": \"system\", \"content\": \"You are a Michelin Star Food Stylist & Gen Z Social Media Manager. Step 1: Analyze the image and list ingredients. Step 2: Write a PROMPT for FLUX.1 Pro to recreate this dish in style: '\" + $json.aesthetic_style + \"'. Use keywords: 8k, bokeh, cinematic. Step 3: Write a witty CAPTION for Instagram/TikTok with 2-3 emojis. Return JSON: { prompt: '...', caption: '...' }\"}, {\"role\": \"user\", \"content\": [{\"type\": \"image_url\", \"image_url\": {\"url\": $json.original_media.url}}]}] }}"
                        },
                        {
                            "name": "response_format",
                            "value": "={{ {\"type\": \"json_object\"} }}"
                        }
                    ]
                }
            },
            "name": "AI Vision & Creative Director",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://api.replicate.com/v1/predictions",
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "version",
                            "value": "flux-pro-1.0-ultra-schnell"
                        },
                        {
                            "name": "input",
                            "value": "={{ {\"prompt\": $json.choices[0].message.content.prompt, \"aspect_ratio\": \"9:16\", \"safety_tolerance\": 5} }}"
                        }
                    ]
                },
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Token {{ $env.REPLICATE_API_TOKEN }}"
                        }
                    ]
                }
            },
            "name": "Generate (FLUX.1 Pro)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "creative_assets",
                "id": "={{ $node[\"Get Asset\"].json.id }}",
                "fields": {
                    "ai_prompt_used": "={{ $node[\"AI Vision & Creative Director\"].json.choices[0].message.content.prompt }}",
                    "generated_caption": "={{ $node[\"AI Vision & Creative Director\"].json.choices[0].message.content.caption }}",
                    "status": "processing"
                }
            },
            "name": "Update Meta Data",
            "type": "n8n-nodes-base.strapi",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "credentials": {
                "strapiApi": {
                    "id": "STRAPI_CREDENTIAL_ID",
                    "name": "Strapi connection"
                }
            }
        }
    ],
    "connections": {
        "Webhook (Internal)": {
            "main": [
                [
                    {
                        "node": "Get Asset",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Asset": {
            "main": [
                [
                    {
                        "node": "AI Vision & Creative Director",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Vision & Creative Director": {
            "main": [
                [
                    {
                        "node": "Generate (FLUX.1 Pro)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Update Meta Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}