workflows/W4_CORE_MENU_GROUNDED.json
{
    "name": "W4_CORE_MENU_GROUNDED",
    "nodes": [
        {
            "parameters": {},
            "name": "User Message",
            "type": "n8n-nodes-base.start",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "workflowId": "={{ $env.MENU_VALIDATOR_WORKFLOW_ID }}"
            },
            "name": "Load Menu",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "collection": "restaurant-brand",
                "id": "singleton"
            },
            "name": "Get Brand DNA",
            "type": "n8n-nodes-base.strapi",
            "typeVersion": 1,
            "position": [
                250,
                450
            ]
        },
        {
            "parameters": {
                "jsCode": "const menu = $input.item(0).json;\nconst brand = $input.item(1).json;\nconst userText = menu.user_text;\n\n// Language detection (Darija patterns)\nconst darijaPatterns = /\\b(sahit|bsaha|chhal|wesh|khouya|rabbi|bghit|3andi)\\b/i;\nconst arabicPattern = /[\\u0600-\\u06FF]/;\nconst detectedLang = arabicPattern.test(userText) ? 'ar' : (darijaPatterns.test(userText) ? 'dz' : 'fr');\n\nreturn {\n  json: {\n    user_text: userText,\n    menu: menu.menu_formatted,\n    menu_index: menu.menu_index,\n    brand: brand,\n    detected_lang: detectedLang\n  }\n};"
            },
            "name": "Merge Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{ $env.LLM_API_URL || 'http://ollama:11434/api/chat' }}",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "={{ $env.LLM_MODEL || 'llama3.1' }}"
                        },
                        {
                            "name": "stream",
                            "value": "={{ false }}"
                        },
                        {
                            "name": "messages",
                            "value": "={{ [\n  {\n    \"role\": \"system\",\n    \"content\": `Tu es l'assistant de commande pour '${$json.brand.restaurant_name}'.\n\nRÈGLE ABSOLUE: TU NE PEUX SUGGÉRER QUE LES PLATS CI-DESSOUS. N'INVENTE JAMAIS.\n\n=== MENU RÉEL ===\n${$json.menu}\n=================\n\nLANGUE: ${$json.detected_lang}\nTON: ${$json.brand.voice_tone}\nMARCHÉ: Algérie (FR/Darija/AR)\n\nINSTRUCTIONS:\n1. Si le client demande un nom signature (\"Bazooka\"), trouve-le dans les alias\n2. Si rupture (❌), propose une alternative RÉELLE\n3. Utilise les VRAIS prix\n4. Si inexistant: \"On n'a pas ça chef, mais regarde notre menu\"\n5. Réponds dans la langue du client\n6. Si Darija: expressions naturelles (sahit, bsaha, chhal)\n7. Sois concis, naturel, comme un vrai serveur algérien\n\nEXEMPLE:\nClient: \"Wesh, vous avez le Bazooka ?\"\nToi: \"Sahit chef ! Oui le Bazooka est dispo 🔥 - 800 DA. Tu veux l'ajouter ?\"`\n  },\n  {\n    \"role\": \"user\",\n    \"content\": $json.user_text\n  }\n] }}"
                        }
                    ]
                }
            },
            "name": "Ollama Chat (Local AI)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract response from Ollama format\nconst ollamaResponse = $input.first().json;\nconst content = ollamaResponse.message?.content || ollamaResponse.response || '';\n\nreturn {\n  json: {\n    response: content,\n    model: ollamaResponse.model,\n    done: ollamaResponse.done\n  }\n};"
            },
            "name": "Format Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "User Message": {
            "main": [
                [
                    {
                        "node": "Load Menu",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get Brand DNA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Load Menu": {
            "main": [
                [
                    {
                        "node": "Merge Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Brand DNA": {
            "main": [
                [
                    {
                        "node": "Merge Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Context": {
            "main": [
                [
                    {
                        "node": "Ollama Chat (Local AI)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ollama Chat (Local AI)": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}