workflows/W5_OUT_TIKTOK.json
{
    "name": "W5_OUT_TIKTOK",
    "nodes": [
        {
            "parameters": {},
            "name": "Start",
            "type": "n8n-nodes-base.start",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://open-api.tiktok.com/im/v1/messages/push/",
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "receiver_id",
                            "value": "={{ $json.to }}"
                        },
                        {
                            "name": "text",
                            "value": "={{ $json.text }}"
                        },
                        {
                            "name": "type",
                            "value": "text"
                        }
                    ]
                },
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Tiktok-Token",
                            "value": "={{ $env.TIKTOK_API_TOKEN }}"
                        }
                    ]
                }
            },
            "name": "TikTok Send API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.media_url }}",
                            "operation": "notEqual",
                            "value2": ""
                        }
                    ]
                }
            },
            "name": "Has Media?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://open-api.tiktok.com/im/v1/messages/push/",
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "receiver_id",
                            "value": "={{ $json.to }}"
                        },
                        {
                            "name": "type",
                            "value": "image"
                        },
                        {
                            "name": "media_url",
                            "value": "={{ $json.media_url }}"
                        }
                    ]
                },
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Tiktok-Token",
                            "value": "={{ $env.TIKTOK_API_TOKEN }}"
                        }
                    ]
                }
            },
            "name": "TikTok Send Media",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                700,
                200
            ]
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "TikTok Send API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "TikTok Send API": {
            "main": [
                [
                    {
                        "node": "Has Media?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Media?": {
            "main": [
                [
                    {
                        "node": "TikTok Send Media",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}