workflows/W5_OUT_TIKTOK.json
{
    "name": "W5 - OUT TikTok Sender",
    "active": false,
    "settings": {
        "executionTimeout": 120,
        "saveExecutionProgress": true,
        "saveManualExecutions": true
    },
    "nodes": [
        {
            "parameters": {},
            "id": "trigger",
            "name": "IN - From CORE",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [
                -2400,
                0
            ]
        },
        {
            "parameters": {
                "language": "javascript",
                "jsCode": "const payload = $json;\n// Placeholder for TikTok Outbound Logic\n// Assuming TikTok API is configured\n\nconst recipient = payload.userId;\nconst text = payload.replyText;\nconst channel = 'tiktok';\n\n// For Phase 1, we will primarily log this as we might not have live TikTok creds yet.\n// But we structure it for the real API.\n\nreturn [{\n    json: {\n        ...payload,\n        channel,\n        recipient,\n        finalPayload: {\n            recipient_id: recipient,\n            message: {\n                type: 'text',\n                text: text\n            }\n        }\n    }\n}];"
            },
            "id": "prepare-tiktok",
            "name": "B0 - Prepare Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2150,
                0
            ]
        },
        {
            "parameters": {
                "url": "={{$env.TIKTOK_SEND_URL || 'https://mock.tiktok.api/send'}}",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "recipient_id",
                            "value": "={{$json.finalPayload.recipient_id}}"
                        },
                        {
                            "name": "message",
                            "value": "={{$json.finalPayload.message}}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "send-tiktok",
            "name": "OUT - Send TikTok",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -1900,
                0
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "TIKTOK_CREDENTIAL_ID",
                    "name": "TikTok API"
                }
            },
            "continueOnFail": true
        }
    ],
    "connections": {
        "IN - From CORE": {
            "main": [
                [
                    {
                        "node": "B0 - Prepare Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "B0 - Prepare Payload": {
            "main": [
                [
                    {
                        "node": "OUT - Send TikTok",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}